<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/hint.css/2.4.1/hint.min.css">:root {
    --card-bg: rgba(255, 255, 255, .7);
}

[data-theme='dark'] {
    --card-bg: rgba(0, 0, 0, .2);
}
/* 首页文章栏背景透明 */
#recent-posts>.recent-post-item,
.layout_page>div:first-child:not(.recent-posts),
.layout_post>#page,
.layout_post>#post,
.read-mode .layout_post>#post {
    /* background: var(--light_bg_color) */
    background: var(--card-bg)
}
/* 侧边栏透明 */
#aside-content .card-widget {
    /* background: var(--light_bg_color) */
    background: var(--card-bg)
}
/* 页脚透明色 */
#footer:before {
    content: none !important;
}
